@model CategoryListViewModel
<section>
    @foreach (var i in Model.Categories)
    {
        var css = "list-group-item";

        if (i.CategoryId == Model.CurrentCategory)
            css += " active";
        <a  class=@css style="cursor:pointer;" href="/product/index?categoryId=@(i.CategoryId-1)">@i.CategoryName</a>
    }
</section>